@-ms-viewport{
  width: device-width;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  font-family: 'Helvetica Neue',Roboto, Arial, sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.header-logo {
  width: 60px;
  height: 60px;
  transition: all 1.2s ease-in-out;
}

.header-logo:hover {
  transform: rotate(-0.12deg)  translatex(12px);
  animation: rotate 0.51s ease;
  transition: transform 0.6s ease;
}

.header-logo:hover::after {
   transform: rotate(-0.12deg)  translatex(120px) ease;      
   transform: rotate(270deg);
   transition: transform 0.72s ease;
 }

.logo-stem, .logo-cell {
  width: 60px;
  height: 60px;
  position: absolute;
  transition: all 0.6s ease-in-out;
}

.logo-stem:hover {
  transform: rotate(-360deg);
}

img, video, #showreel-1 {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  margin: 0;
  padding: 3px;
}



main {
  width: 100%;
  min-height: 81vh;
  margin: 0;
  padding: 0.6rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.title {
  flex: 36%;
  max-width: 36%;
  margin: 0;
  display: flex;
  justify-content:center;
  align-items: center;
}

.title-container {
  max-width: 900px;
  margin: 0.3rem;
}

.contain-card {
  flex: 60%;
  max-width: 51%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.8em;
  padding: 0;
}

.contain-card_d {
  flex: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.8em;
  padding: 0;
}

.contain-card_b, .contain-card_c {
  flex: 39%;
  max-width: 48%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.8em;
  padding: 0;
}

.card_sn, .card_db, .card_sn-fla, .card_sn-flb {
  padding: 0.9em;
  width: 90%;
  background-color: #f9f9f9;
  box-shadow: 
    0 6px 9px 0 rgba(0, 0, 0, 0.21), 
    0 6px 21px 0 rgba(0, 0, 0, 0.18);
  border-radius: 3px;
  animation: 
  cardEaseIn 4.2s ease-in-out,
  cardMove 9s ease infinite;
  animation-fill-mode:backwards, none;
}

.card_sn-nm {
  padding: 0.9em;
  width: 90%;
  background-color: #f9f9f9;
  box-shadow: 
    0 6px 9px 0 rgba(0, 0, 0, 0.21), 
    0 6px 21px 0 rgba(0, 0, 0, 0.18);
  border-radius: 3px;
  animation: 
  cardEaseIn 1.2s ease-in-out;
  animation-fill-mode:backwards, none;
  animation-delay:0.111s, 0.72s;
}

.card_sn-fla, .card_sn-flb, .card_sn-nm {
  flex: 100%;
}

.card_sn-fla {
  animation-delay:0.111s, 0.72s;
}

.card_sn-flb {
  animation-delay:0.141s, 0.9s;
}

.card_sn {
  animation-delay:0.12s, 0.6s;
}

.card_db:nth-child(1) {
  animation-delay:0.15s, 0.9s;
}

.card_db:nth-child(2) {
  animation-delay:0.18s, 1.2s;
}

@keyframes cardEaseIn {
  from{ 
    transform: translatey(100px);
    opacity: 0;
  }
  to{
    transform: translatey(50px);
    opacity: 1;
  }
}

@keyframes cardMove {
  20%{transform: translate(10px,5px); }
  32%{transform: translate(-4px,-1px); }
  49%{transform: translate(0px,8px); }
  69%{transform: translate(8px,-3px); }
  100%{transform: translate(-1px,5px); }
}

.card_one {
  flex: 42%;
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.card_3  {
  flex: 42%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.card_two {
  flex: 42%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.text-subtitle {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 1.2rem;
  margin: 1.2em;
  position: relative;
  color: #636363;
}


.text-subtitle::after{
    content:'';
    width:230px;
    height:1px;
    background: #212121;
    display:block;
    margin-left:8px;
  }

.text-title {
  min-width: 280px;
  font-size: 3.3rem;
  margin: 1.2em;
  color: #212121;
  font-weight: bold;
}

.portfolio-link {
  font-size: 1.5em;
  color: #212121;
  font-weight:bold;
  display:flex;
  justify-content: center;
  gap: 1em;
  align-items:center;
}

.contain-button {
  width: 90px;
  height: 90px;
  padding: 1.2em;
  border-radius:99em;
  box-sizing:border-box;
  border:none;
  background-color: #212121;
  color:var#fff;
  transition: all 1.2s ease-in-out;
}

.contain-button:hover {
  transform: rotate(-0.12deg)  translatex(12px);
  animation: rotate 0.51s ease ;
  transition: transform 0.6s ease;
  background-color: rgb(0, 12, 0);
}

.contain-button:hover::after {
   transform: rotate(-0.12deg)  translatex(120px) ease;      
   transform: rotate(270deg);
   transition: transform 0.72s ease;
 }


.portfolio-text {
  transition: all 1.2s ease-in-out; 
}

.portfolio-text:hover {
  transform: scale(1.11);
  transition: transform 0.9s ease;
}

.portfolio-text a:hover {
  color: rgb(0, 12, 0);
}

.portfolio-button {
  position: relative;
  width: 42px; 
  height: 42px;
  color: #fff;
}

.portfolio-button::before, .portfolio-button::after {
    content:'';
    position: absolute;
    width: 18px;
    height: 2.1px;
    background-color: currentColor;
    border-radius: 1.2px;
    transition: opacity 0.72s 0.12s, transform 0.51s 0.12s;
    
  }
.portfolio-button::before {
    top: 50%;
    left:13px;
  }
.portfolio-button::after{
    transform:rotate(-90deg);
    top:50%;
    left:13px;
  }
.portfolio-button:hover::before {
      opacity: 72%;
      transform: rotate(45deg)  translatex(-20px);
      animation: rotate 0.5s ease ;
      transform: rotate(180deg);
      transition: transform 0.7s ease;
    }
.portfolio-button:hover::after {
  opacity: 72%;
  transform: rotate(45deg)  translatex(-20px);      
  transform: rotate(270deg);
  transition: transform 0.7s ease;
}

.portfolio-text a {
  color: #212121;
}

.card-title {
  font-size: 1.32rem;
  color: #212121;
  font-weight:bolder;
  margin-bottom: 16px;
}

.card-subtitle {
  font-size: 1.11rem;
  color: #212121;
  margin-bottom: 16px;
}

.card-text p {
  font-size: 0.81rem;
}

.card-img-s {
  width:100%;
  height:80px;
  background-image: url('assets/images/snicker-visual.jpg');
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
  transition: all 1.2s ease-in-out;
}

.card-img-s_a {
  width:100%;
  height:80px;
  background-image: url('assets/images/j-002.jpg');
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
  transition: all 1.2s ease-in-out;
}

.card-img-s_b {
  width:100%;
  height:80px;
  background-image: url('assets/images/camera-visual.jpg');
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
  transition: all 1.2s ease-in-out;
}

.card-img-s_g {
  width:100%;
  height:80px;
  background-image: url('assets/webp/handshake.webp');
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
  transition: all 1.2s ease-in-out;
}

.card-img-m_g {
  width:100%;
  height:150px;
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
  overflow: hidden;
  transition: all 1.2s ease-in-out;
}

.card-img-s_a:hover, 
.card-img-s_b:hover, 
.card-img-s:hover,
.card-img-ma:hover,
.card-img-mb:hover,
.card-img-mc:hover,
.card-img-md:hover,
.card-img-me:hover,
.card-img-mf:hover,
.card-img-v:hover,
.card-img-vb:hover,
.card-img-s_g:hover,
.card-img-m_g:hover {
  transform: scale(1.2);
  transition: transform 0.9s ease;
}

.card-img-ma {
  width:100%;
  height:260px;
  background-image: url('assets/images/j-003.jpg');
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
  transition: all 1.2s ease-in-out;
}

.card-img-mb {
  width:100%;
  height:180px;
  background-image: url('assets/images/clifford6and7.jpg');
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
  transition: all 1.2s ease-in-out;
}

.card-img-mc {
  width:100%;
  height:80px;
  background-image: url('assets/images/nb_visual.png');
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
  transition: all 1.2s ease-in-out;
}

.card-img-md {
  width:100%;
  height:80px;
  background-image: url('assets/webp/fatal_error.webp');
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
  transition: all 1.2s ease-in-out;
}

.card-img-me {
  width:100%;
  height:260px;
  background-image: url('assets/images/digital.jpg');
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
  transition: all 1.2s ease-in-out;
}

.card-img-mf {
  width:100%;
  height:260px;
  background-image: url('assets/images/gg-33.jpg');
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
  transition: all 1.2s ease-in-out;
}

.card-img-v {
  width:100%;
  height:260px;
  object-fit: cover;
  overflow: hidden;
  transition: all 1.2s ease-in-out;
}

.card-img-vb {
  width:100%;
  height:120px;
  object-fit: cover;
  overflow: hidden;
  transition: all 1.2s ease-in-out;
}

.button{
  appearance:none;
  box-sizing:border-box;
  border:none;
  display:inline-flex;
  justify-content: center;
}

.card-button {
  max-width: 120px;
  position: relative;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212121;
  color: #fff;
  font-size: 0.9rem;
  font-weight: lighter;
  padding: 0.3em;
  margin-top: 1.2em;
  transition: transform 1.2s ease-out;
}

.card-button:hover {
  transform: rotate(-0.1deg)  translatex(12px);
  animation: rotate 0.5s ease ;
  transition: transform 0.6s ease;
  background-color: rgb(0, 12, 0);
}

.card-button:hover::after {
   transform: rotate(-0.12deg)  translatex(120px) ease;      
   transform: rotate(270deg);
   transition: transform 0.72s ease;
 }

 .footer {
  display:flex;
  justify-content:flex-end;
  align-items: center;
  padding: 1.2rem;
  margin-top: 3.69rem;
}

.footer_link{
  opacity: 30%;
  width: 1.2rem;
  text-decoration:none;
  display:inline-flex;
  }

.footer_link:not(:last-child){
    margin-right: 12px;
  }

.footer_link:not(:last-child)::after{
      content:'';
      display:block;  
      width: 1px;
      height: 100%;
      margin-left: 12px;
    }

@media screen and (max-width: 1290px) {
  .contain-card_b, .contain-card_c {
    flex: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 999px) {
  .title, .contain-card, .contain_card_b {
    flex: 100%;
    max-width: 100%;
    margin: 1em;
  }
}

@media screen and (max-width: 609px) {
  .card_one, .card_two, .card_3 {
    margin: 0;
    flex: 100%;
    max-width: 290px;
  }

  
}
